/*Estilos gerais*/
*{
    color: #25282E;
}

a, i {
    transition: .5s;
    text-decoration: none;
}

.secondary-color{
    color: #555;
}

.center-image{
    background-size: cover;
    background-position: center;
}

.btn{
    text-decoration: none;
    background-color: #25282E;
    color: #FFF;
    padding: 7px 18px;
    border-radius: 5px;
}
.btn:hover{
    background-color: #333;
    color: #FFF;
}
/*HEADER*/
#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #CCC;
}

#header p {
   margin-bottom: 0; 
}

#logo-container{
    display: flex;
    justify-content: center;
}

#logo{
    width: 40px;
    margin-right: 15px;
}
/*NAVBAR*/
#navbar{
    padding: 10px;
    margin: 10px auto;
}
#navbar a{
    width: 80px;
    color: #444;
    font-weight: bolder;
}
#navbar a:hover{
    color: #C1B696;
}

/*MAIN IMAGE*/
.main-image{
    height: 400px;
    background-image: url('../img/goku.jpg.crdownload');
    margin-bottom: 30px;
    position: relative;
}

.main-image-info{
    background-color: #FFF;
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    border-radius: 10px;
}
/*GALLERY*/

#img-2{
    background-image: url('../img/aryz1.jpg');

}
#img-3{
    background-image: url('../img/banksy1.jpg');
    
}
#img-4{
    background-image: url('../img/grafiteirosfamosos3.jpg');
    
}
#img-5{
    background-image: url('../img/where.webp');
    
}
#img-6{
    background-image: url('../img/g_6.jpg');
    
}
#art-1{
    background-image: url('../img/art2.jpg')
}
#art-3{
    background-image: url('../img/art2.1.jpg');
}
#art3{
    background-image: url('../img/art3.jpg');
}
#art4{
    background-image: url('../img/edgar.jpg');
}
#gallery-container h1{
    text-align: center;
}

#gallery-container h1,
#gallery-container .col-md-6,
#gallery-container .col-xs-12 {
 margin-bottom: 50px;
}

.small-image-container {
  height: 250px;
  margin-bottom: 20px;
}

/*FOOTER*/
footer{
    margin-top: 150px;
    border-top: 1px solid #CCC;
    height: 250px;
    padding: 30px;
}

footer i{
    font-size: 25px;
}

#social-icons-container{
    padding: 25px;
}
#social-icons-container div{
    text-align: center;
}

footer p{
    text-align: center;
    margin: 20px;
}
a:hover i{
    color: blue;
}